* {
	font-family: 'Roboto', sans-serif;
	font-weight: 200px;
	font-size: 30px;
    background: #231955;
    padding-left: 15px;
}

h1 {
    font-family: 'Courier New', Courier, monospace;
    color: #E8AA42;
    display: inline-block;
    width: 1000px;
    font-size: 40px;
    height: auto;
    background: rgb(31, 70, 144);
    outline: 5px solid rgb(232, 170, 66);
}

div {
   
}

textarea {
    width: 400px;
    height: 400px;
    padding: 40px;
	border-radius: 20px;
    background: rgb(255, 229, 180);
    outline: 5px solid rgb(232, 170, 66);
}

button {
    width: 150px;
    height: 70px;
    background: rgb(31, 70, 144);
    outline: 5px solid rgb(232, 170, 66);
	border-radius: 20px;
    margin-bottom: 20px;
    position: absolute;
    top: 350px; 
    left: 475px;
}

button:hover {
    background: rgb(232, 170, 66);
}

#txtIdEquiposArmados {

    position: absolute;
    top: 100px; 
    left: 640px;
}
